#gallery {
    width: 50px;
}

#gallery_cell{
    padding: 0px;
    background-color: ivory;
    border: 1px solid red;
    min-width: 100px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
}

.image-thumbnail{
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid greenyellow;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.gallery .image-thumbnail{
    background-color: purple;
    padding: 0.25rem;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 0.25rem;
    max-width: 43%;
    height: auto;
}